{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class='image'>
  </div>
  <div class="container">
    <div class='row'>
      <div class='col'>
          <div class='home-div-container'>
              <h1 class='h1-heading'>Asmara Spa</h1>
                </div>
        
      </div>
      <div class='col'>
        <div class='home-div-container'>
        <p class='home-desc'>Lorem, ipsum dolor sit amet consectetur 
          adipisicing elit. Assumenda aspernatur, sed illo, sequi 
          porro aut iste nemo pariatur minus, iure ex! Accusantium
           placeat adipisci porro amet, voluptas minima fuga numquam?</p>
          </div>
      </div>
    </div>
      
  </div>
  

</div>

{% endblock content %}
  